<div id="header">
  <div class="color-line"></div>
  <div id="logo" class="light-version">
    <span>
      {{ headerTitle }}
    </span>
  </div>
  <nav role="navigation">
    <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
    <div class="small-logo">
      <span class="text-primary">هومر اپ</span>
    </div>
    <form role="search" class="navbar-form-custom" method="post" action="#">
      <div class="form-group">
        <input
          type="text"
          placeholder="جستجو موارد"
          class="form-control"
          name="search"
        />
      </div>
    </form>
    <div class="mobile-menu">
      <button
        type="button"
        class="navbar-toggle mobile-menu-toggle"
        data-toggle="collapse"
        data-target="#mobile-collapse"
      >
        <i class="fa fa-chevron-down"></i>
      </button>
      <div class="collapse mobile-navbar" id="mobile-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a class="" href="login.html">ورود</a>
          </li>
          <li>
            <a class="" href="login.html">خروج</a>
          </li>
          <li>
            <a class="" href="profile.html">پروفایل</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-right">
      <ul class="nav navbar-nav no-borders">
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="pe-7s-speaker"></i>
          </a>
          <ul class="dropdown-menu hdropdown notification animated flipInX">
            <li>
              <a>
                <span class="label label-success">جدید</span> این مدت طولانی
                است.
              </a>
            </li>
            <li>
              <a>
                <span class="label label-warning">هشدار</span> تغییرات زیادی
                وجود دارد.
              </a>
            </li>
            <li>
              <a>
                <span class="label label-danger">خطا</span> بر خلاف باور عموم.
              </a>
            </li>
            <li class="summary"><a href="#">مشاهده همه نوتیفیکیشن ها</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="pe-7s-keypad"></i>
          </a>

          <div class="dropdown-menu hdropdown bigmenu animated flipInX">
            <table>
              <tbody>
                <tr>
                  <td>
                    <a href="projects.html">
                      <i class="pe pe-7s-portfolio text-info"></i>
                      <h5>پروژه ها</h5>
                    </a>
                  </td>
                  <td>
                    <a href="mailbox.html">
                      <i class="pe pe-7s-mail text-warning"></i>
                      <h5>ایمیل</h5>
                    </a>
                  </td>
                  <td>
                    <a href="contacts.html">
                      <i class="pe pe-7s-users text-success"></i>
                      <h5>مخاطبان</h5>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="forum.html">
                      <i class="pe pe-7s-comment text-info"></i>
                      <h5>انجمن</h5>
                    </a>
                  </td>
                  <td>
                    <a href="analytics.html">
                      <i class="pe pe-7s-graph1 text-danger"></i>
                      <h5>آنالتیکس</h5>
                    </a>
                  </td>
                  <td>
                    <a href="file_manager.html">
                      <i class="pe pe-7s-box1 text-success"></i>
                      <h5>فایل ها</h5>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
        <li class="dropdown">
          <a
            class="dropdown-toggle label-menu-corner"
            href="#"
            data-toggle="dropdown"
          >
            <i class="pe-7s-mail"></i>
            <span class="label label-success">۴</span>
          </a>
          <ul class="dropdown-menu hdropdown animated flipInX">
            <div class="title">
              شما ۴ پیام جدید دارید.
            </div>
            <li>
              <a>
                این مدت طولانی است.
              </a>
            </li>
            <li>
              <a>
                تغییرات زیادی وجود دارد.
              </a>
            </li>
            <li>
              <a>
                لورم ایپسوم به سادگی ساختگی است.
              </a>
            </li>
            <li>
              <a>
                بر خلاف باور عموم.
              </a>
            </li>
            <li class="summary"><a href="#">مشاهده همه پیام ها</a></li>
          </ul>
        </li>
        <li>
          <a href="#" id="sidebar" class="left-sidebar-toggle">
            <i class="pe-7s-upload pe-7s-news-paper"></i>
          </a>
        </li>
        <li class="dropdown">
          <a (click)="logout()">
            <i class="pe-7s-upload pe-rotate-90"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
