<aside id="menu">
  <div id="navigation">
    <div class="profile-picture">
      <a href="index-2.html">
        <img src="images/profile.jpg" class="img-circle m-b" alt="logo" />
      </a>

      <div class="stats-label text-color">
        <span class="font-extra-bold font-uppercase">روبرت رازر</span>

        <div class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <small class="text-muted">سازنده اپ<b class="caret"></b></small>
          </a>
          <ul class="dropdown-menu animated flipInX m-t-xs">
            <li><a href="contacts.html">مخاطبان</a></li>
            <li><a href="profile.html">پروفایل</a></li>
            <li><a href="analytics.html">آنالتیکس</a></li>
            <li class="divider"></li>
            <li><a href="login.html">خروج</a></li>
          </ul>
        </div>

        <div id="sparkline1" class="small-chart m-t-sm"></div>
        <div>
          <h4 class="font-extra-bold m-b-xs">
            ۲۶۰.۱۰۴.۴۰۰ ریال
          </h4>
          <small class="text-muted"
            >درآمد شما از سال گذشته در فروش محصول .</small
          >
        </div>
      </div>
    </div>

    <ul class="nav" id="side-menu">
      <li class="active">
        <a routerLink="">
          <span class="nav-label">پیشخوان</span>
          <span class="label label-success pull-left">۱.۰</span>
        </a>
      </li>
      <li>
        <a href="analytics.html">
          <span class="nav-label">آنالتیکس</span
          ><span class="label label-warning pull-left">جدید</span>
        </a>
      </li>
      <li>
        <a href="#"
          ><span class="nav-label">رابط</span><span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li><a href="panels.html">طرح پنل ها</a></li>
          <li><a href="typography.html">تایپوگرافی</a></li>
          <li><a href="buttons.html">رنگ ها و دکمه ها</a></li>
          <li><a href="components.html">کامپوننت ها</a></li>
          <li><a href="alerts.html">پیغام ها</a></li>
          <li><a href="modals.html">شناور ها</a></li>
          <li><a href="loading_buttons.html">دکمه های بارگزاری</a></li>
          <li><a href="draggable.html">پنل های قابل جابجایی</a></li>
          <li><a href="code_editor.html">ویرایشگر کد</a></li>
          <li><a href="email_template.html">قالب ایمیل</a></li>
          <li><a href="nestable_list.html">لیست</a></li>
          <li><a href="tour.html">تور</a></li>
          <li><a href="icons.html">کتابخانه آیکون ها</a></li>
        </ul>
      </li>
      <li>
        <a href="#"
          ><span class="nav-label">نمایش های برنامه</span
          ><span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li><a href="contacts.html">مخاطبان</a></li>
          <li><a href="projects.html">پروژه ها</a></li>
          <li><a href="project.html">جزییات پروژه</a></li>
          <li><a href="app_plans.html">پلن های اپلیکیشن</a></li>
          <li><a href="social_board.html">برد اجتماعی</a></li>
          <li><a href="faq.html">پرسش و پاسخ</a></li>
          <li><a href="timeline.html">گاهشمار</a></li>
          <li><a href="notes.html">یادداشت ها</a></li>
          <li><a href="profile.html">پروفایل</a></li>
          <li><a href="mailbox.html">جعبه ایمیل</a></li>
          <li><a href="mailbox_compose.html">ارسال ایمیل</a></li>
          <li><a href="mailbox_view.html">نمایش ایمیل</a></li>
          <li><a href="blog.html">بلاگ</a></li>
          <li><a href="blog_details.html">مقاله وبلاگ</a></li>
          <li><a href="forum.html">فروم</a></li>
          <li><a href="forum_details.html">جزییات فروم</a></li>
          <li><a href="gallery.html">گالری</a></li>
          <li><a href="calendar.html">تقویم</a></li>
          <li><a href="invoice.html">فاکتور</a></li>
          <li><a href="file_manager.html">مدیر فایل</a></li>
          <li><a href="chat_view.html">نمایش چت</a></li>
          <li><a href="search.html">نمایش جستجو</a></li>
        </ul>
      </li>
      <li>
        <a href="#"
          ><span class="nav-label">نمودارها</span><span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li><a href="chartjs.html">چارت جی اس</a></li>
          <li><a href="flot.html">نمودار فلوت</a></li>
          <li><a href="inline.html">گراف های خطی</a></li>
          <li><a href="chartist.html">چارتلیست</a></li>
          <li><a href="c3.html">نمودار سی تری</a></li>
        </ul>
      </li>
      <li>
        <a href="#"
          ><span class="nav-label">انیمیشن های جعبه</span
          ><span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li>
            <a href="overview.html"
              ><span class="label label-success pull-left">آغاز</span>پیش
              نمایش</a
            >
          </li>
          <li><a href="transition_two.html">ستون ها از بالا</a></li>
          <li><a href="transition_one.html">ستون های سفارشی</a></li>
          <li><a href="transition_three.html">پنل های زوم</a></li>
          <li><a href="transition_four.html">ردیفها از پایین</a></li>
          <li><a href="transition_five.html">ردیفها از راست</a></li>
        </ul>
      </li>
      <li>
        <a href="#"
          ><span class="nav-label">نمایش های مشترک</span
          ><span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li><a href="login.html">ورود</a></li>
          <li><a href="register.html">ثبت نام</a></li>
          <li><a href="error_one.html">خطای ۴۰۴</a></li>
          <li><a href="error_two.html">خطای ۵۰۵</a></li>
          <li><a href="lock.html">نمایش قفل</a></li>
          <li><a href="password_recovery.html">بازیابی رمز عبور</a></li>
        </ul>
      </li>
      <li>
        <a href="#"
          ><span class="nav-label">جدول ها</span><span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li><a href="tables_design.html">طرح جداول</a></li>
          <li><a href="datatables.html">جداول داده</a></li>
          <li><a href="footable.html">جدول تولی</a></li>
        </ul>
      </li>
      <li>
        <a href="widgets.html">
          <span class="nav-label">ویجت ها</span>
          <span class="label label-success pull-left">ویژه</span></a
        >
      </li>
      <li>
        <a href="#"
          ><span class="nav-label">فرم ها</span><span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li><a href="forms_elements.html">فرم های عناصر</a></li>
          <li><a href="forms_extended.html">فرم های تمدید</a></li>
          <li><a href="text_editor.html">ویرایشگر متن</a></li>
          <li><a href="wizard.html">ویزارد</a></li>
          <li><a href="validation.html">اعتبارسنجی</a></li>
        </ul>
      </li>
      <li>
        <a href="options.html">
          <span class="nav-label">گزینه های طرح بندی</span></a
        >
      </li>
      <li>
        <a href="grid_system.html">
          <span class="nav-label">سیستم گرید</span></a
        >
      </li>
      <li>
        <a href="landing_page.html"> <span class="nav-label">صفحه هدف</span></a>
      </li>
      <li>
        <a href="package.html"><span class="nav-label">بسته</span></a>
      </li>
    </ul>
  </div>
</aside>
