<div class="row">
  <div class="col-md-12">
      <div class="text-center m-b-md">
          <h3>لطفا وارد سایت شوید</h3>
          <small>این بهترین اپلیکیشن وب است.</small>
      </div>
      <div class="hpanel">
          <div class="panel-body">
                  <form action="#" id="loginForm">
                      <div class="form-group">
                          <label class="control-label" for="username">نام کاربری</label>
                          <input type="text" placeholder="example@gmail.com" title="نام کاربری خود را وارد کنید" required="" value="" name="username" id="username" class="form-control">
                          <span class="help-block small">نام کاربری شما یکتا باشد.</span>
                      </div>
                      <div class="form-group">
                          <label class="control-label" for="password">رمز عبور</label>
                          <input type="password" title="رمز عبور خود را وارد کنید" placeholder="******" required="" value="" name="password" id="password" class="form-control">
                          <span class="help-block small">رمز شما قدرتمند است</span>
                      </div>
                      <div class="checkbox">
                          <input type="checkbox" class="i-checks" checked>
                               مرا بخاطر بسپار
                          <p class="help-block small">(اگر این کامپیوتر خصوصی شماست)</p>
                      </div>
                      <button class="btn btn-success btn-block">ورود</button>
                      <a class="btn btn-default btn-block" href="#">ثبت نام</a>
                  </form>
          </div>
      </div>
  </div>
</div>