<div class="row">
  <div class="col-lg-12">
    <div class="hpanel">
      <div class="panel-heading">
        <div class="panel-tools">
          <a class="showhide"><i class="fa fa-chevron-up"></i></a>
          <a class="closebox"><i class="fa fa-times"></i></a>
        </div>
        ایجاد مسیر جمع آوری
      </div>
      <div class="panel-body">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th class="center">#</th>
              <th class="center">زمان جمع آوری</th>
              <th class="center">نام مشتری</th>
              <th class="center">کد سفارش مرجع</th>
              <th class="center">آدرس</th>
              <th class="center">تعداد بار</th>
              <th class="center">نام راننده</th>
              <th class="center">نوع مشتری</th>
            </tr>
          </thead>
          <tbody class="center loading" *ngIf="gettingPickUpList">
            <tr>
              <td colspan="8">لطفا شکیبا باشید</td>
            </tr>
          </tbody>
          <tbody class="center empty-list" *ngIf="!gettingPickUpList && (pickUpList.length == 0)">
            <tr>
              <td colspan="8">موردی یافت نشد.</td>
            </tr>
          </tbody>
          <tbody *ngIf="!gettingPickUpList && (pickUpList.length > 0)">
            <tr *ngFor="let item of pickUpList; let i = index">
              <td class="center"><input type="checkbox" [checked]="item['isSelected']" name="list_name" value="{{i}}" (change)="changeRefOrderSelection(i)"/></td>
              <td class="center">{{ item['deliver_timespan'] }}</td>
              <td class="center">{{ item['corporate']['name'] }}</td>
              <td class="bold center">{{ item['code'] }}</td>
              <td>{{ item['depot']['address'] }}</td>
              <td class="center">{{ item['actual_orders_count'] }}</td>
              <td class="center">{{ item['driver_name'] }}</td>
              <td class="center">{{ item['corporate']['type'] }}</td>
            </tr>
            <tr>
              <td colspan="8" class="center">
                  <ul class="pagination no-margin">
                      <li class="paginate_button previous" *ngIf="pickUpListMeta['pagination']['current_page'] > 1">
                          <a (click)="getPickUpList(pickUpListMeta['pagination']['current_page'] -1)">قبلی</a>
                      </li>
                      
                      <li class="paginate_button" *ngFor="let item of [].constructor(pickUpListMeta['pagination']['total_pages']); let i = index" [ngClass]="{'active': ((i + 1) == pickUpListMeta['pagination']['current_page'])}">
                        <a (click)="getPickUpList(i + 1)">{{i + 1}}</a>
                      </li>
                      <li class="paginate_button next" *ngIf="pickUpListMeta['pagination']['current_page'] < pickUpListMeta['pagination']['total_pages']">
                          <a (click)="getPickUpList(pickUpListMeta['pagination']['current_page'] + 1)">بعدی</a>
                      </li>
                    </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="driversList" class="form-group">
            <div class="col-sm-7 left">
                <div class="input-group m-b">
                  <span class="input-group-addon bold">انتخاب راننده</span>
                  <select2 class="" [data]="driversList" (valueChanged)="changedDriver($event)"></select2>
                </div>
                <button class="btn btn-primary left out-free" (click)="makeCollectRoute()">ثبت نهایی</button>
                <button class="btn btn-primary left out-free" (click)="assignToSend()">تخصیص پیک</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>